	<div >
		<form ng-submit="addinsurance()">
        <div >
		<form ng-submit="updateinsurance()">
    <div >
      Policy No: 
      <input type="text"   ng-model="insurance.policy_no" >
    </div>

    <div >
      Policy Name:
    <select  ng-model="insurance.name">
        <option> CAR Insurace</option>
        <option> Bike Insurance</option>
        <option> Health Insurance</option>
        <option> Pet Insurance</option>
      </select> </div>

    <div >
      Period:
        <select  ng-model="insurance.period">
        <option> 1</option>
        <option> 2</option>
        <option> 3</option>
        <option> 4</option>
        <option> 5</option>
        </select>
    </div>

    <div >
      Customer Name:
      <input type="text"  ng-model="insurance.customer_name" >
    </div>

    <div >
        Customer Address:
        <input type="text"  ng-model="insurance.customer_address">
    </div>
    <div >
        Customer contact:
        <input type="text"  ng-model="insurance.customer_contact">
    </div>
      <button type="submit" style="color:#5bc0de;" >Save</button>
      <a href="#/insurance" > Cancel</a>
    </form>		
  </div>
