<div  ng-init="showinsurance()">
	  <p> insurance Detail Information</p>
	<div >
		<form>
		<div >
		 <label>Policy No: {{ insurance.policy_no }}</label></br>
		 <label>Policy Name: {{ insurance.name }}</label></br>
		 <label>Period {{ insurance.period }}</label></br>
		 <label>Customer Name: {{ insurance.customer_name }}</label></br>
		 <label>Customer address: {{ insurance.customer_address }}</label></br>
		 <label>Customer contact: {{ insurance.customer_contact }}</label></br>
		<a href="#/insurance" > Cancel</a>
		</div>
	</form>		
    <div>
<div>
